.video_page {
  width: 90%;
  margin: 20px auto;
}

.action_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
  margin: 20px 0px;
}
.flex_displays {
  margin-bottom: 20px;
  text-align: center;
}
.flex_displays iframe {
  text-align: center;
}
.flex_displays h3 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.video_page h2 {
  margin: 0px 0px 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2360dc;
  padding: 10px 0px;
  color: white;
  letter-spacing: 0.7px;
}
